service: github-backup-aws-s3-service
provider:
  name: aws
  runtime: nodejs6.10
  region: eu-west-2
  timeout: 300
functions:
  runBackup:
    handler: handler.runBackup
    events:
      - schedule: ${opt:schedule-expression} # http://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html
